<footer class="footer my-12">
    <div class="text-center text-muted mt-4 text-gray-400 ">
        <p>&copy; {{year}} All rights reserved.
        </p>
    </div>
</footer>
<a href="#">
    <div class="fixed right-0 bottom-0 border-2 bg-sky-400 rounded-full p-4 mr-4 mb-4" data-aos="fade-up"
        data-aos-anchor="#trigger-right">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="w-6 h-6 text-white">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l7.5-7.5 7.5 7.5m-15 6l7.5-7.5 7.5 7.5" />
        </svg>
    </div>
</a>