<section id="about" class="font-serif">
    <div class="container p-5 mx-auto mt-48 pt-24">
        <div class="text-center">
            <span class="font-bold text-pink-400 lg:text-6xl md:text-6xl text-4xl border-b-4 border-black"
                data-aos="fade-down-left">ABOUT</span>
        </div>
        <div class="items-center mt-10 block sm:block md:block text-gray-700" data-aos="fade-up">
            <div class="col-span-2 sm:mt-10 about-desc">
                <p class="mt-2 mb-8 leading-8 ">Nitin Singh, a skilled Software Engineer with extensive experience in
                    both frontend and backend development. Proficient in Angular and React for frontend tasks, and adept
                    in Node.js for backend implementations. With a keen eye for detail and a knack for problem-solving,
                    Nitin consistently delivers exceptional results. His collaborative approach ensures a deep
                    understanding of project architectures, enabling seamless integration and resolution of complex
                    issues. Clients commend his ability to navigate deprecated modules, suggesting and implementing
                    optimal solutions such as capacitor plugins. Nitin's dedication is evident in his commitment to
                    completing even the most challenging tasks efficiently. Clients express eagerness to engage him for
                    future projects, confident in his ability to drive improvements and excel in new endeavors.
                </p>
            </div>
        </div>
    </div>
    <div class=" text-gray-700 container p-5 mx-auto justify-evenly pt-4 content ">
        <div class="flex flex-col lg:flex-row">
            <div class="lg:w-1/2">
                <ul>
                    <li class="mt-4 "><i class="bi bi-chevron-right mt-1"></i> <strong>Birthday:
                        </strong>
                        <span>14 Jun 2004</span>
                    </li>
                    <li class="mt-4 "><i class="bi bi-chevron-right mt-1"></i> <strong>Website: </strong>
                        <span>..</span>
                    </li>
                    <li class="mt-4 "><i class="bi bi-chevron-right  mt-1"></i> <strong>Phone: </strong>
                        <span>+91 7041370608</span>
                    </li>
                    <li class="mt-4 "><i class="bi bi-chevron-right  mt-1"></i> <strong>City: </strong>
                        <span>Surat</span>
                    </li>
                </ul>
            </div>
            <div class="lg:w-1/2">
                <ul>
                    <li class="mt-4 "><i class="bi bi-chevron-right"></i> <strong>Age: </strong>
                        <span>19</span>
                    </li>
                    <li class="mt-4 "><i class="bi bi-chevron-right"></i> <strong>Degree: </strong>
                        <span>BCA</span>
                    </li>
                    <li class="mt-4 "><i class="bi bi-chevron-right"></i> <strong>Email: </strong>
                        <span>Singhnitin2004@gmail.com</span>
                    </li>
                    <li class="mt-4 "><i class="bi bi-chevron-right"></i> <strong>Freelance: </strong>
                        <span>Available</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <section id="skills" class="skills bg-gray-100 py-10 text-gray-700  " data-aos="fade-left">
        <div class="container mx-auto ">

            <div class="text-center mb-10">
                <span class="text-3xl font-bold border-b-4 border-gray-400">Skills</span>
            </div>

            <div class="flex flex-wrap ">

                <div class="w-full lg:w-1/2 px-4 mb-6">

                    <div class="bg-white shadow-md rounded-md p-4">
                        <h3 class="text-xl font-semibold mb-4">Frontend</h3>

                        <div class="mb-4">
                            <span class="text-sm font-semibold">HTML</span>
                            <span class="text-sm font-semibold float-right">100%</span>
                        </div>
                        <div class="w-full bg-gray-200 rounded-full">
                            <div class="bg-lime-400 text-xs leading-none py-1 text-center text-white rounded-full"
                                style="width:100%">100%</div>
                        </div>

                        <div class="mb-4 mt-4">
                            <span class="text-sm font-semibold">CSS</span>
                            <span class="text-sm font-semibold float-right">90%</span>
                        </div>
                        <div class="w-full bg-gray-200 rounded-full">
                            <div class="bg-lime-400 text-xs leading-none py-1 text-center text-white rounded-full"
                                style="width:90%">90%</div>
                        </div>

                        <div class="mb-4 mt-4">
                            <span class="text-sm font-semibold">JavaScript</span>
                            <span class="text-sm font-semibold float-right">70%</span>
                        </div>
                        <div class="w-full bg-gray-200 rounded-full">
                            <div class="bg-lime-400 text-xs leading-none py-1 text-center text-white rounded-full"
                                style="width:70%">70%</div>
                        </div>
                        <div class="mb-4 mt-4">
                            <span class="text-sm font-semibold">Typescript</span>
                            <span class="text-sm font-semibold float-right">75%</span>
                        </div>
                        <div class="w-full bg-gray-200 rounded-full">
                            <div class="bg-lime-400 text-xs leading-none py-1 text-center text-white rounded-full"
                                style="width:75%">75%</div>
                        </div>

                    </div>

                </div>

                <div class="w-full lg:w-1/2 px-4 mb-6">

                    <div class="bg-white shadow-md rounded-md p-4">
                        <h3 class="text-xl font-semibold mb-4">Backend</h3>

                        <div class="mb-4 mt-4">
                            <span class="text-sm font-semibold">Msql</span>
                            <span class="text-sm font-semibold float-right">70%</span>
                        </div>
                        <div class="w-full bg-gray-200 rounded-full">
                            <div class="bg-lime-400 text-xs leading-none py-1 text-center text-white rounded-full"
                                style="width:70%">70%</div>
                        </div>
                        <div class="mb-4 mt-4">
                            <span class="text-sm font-semibold">Node Js</span>
                            <span class="text-sm font-semibold float-right">60%</span>
                        </div>
                        <div class="w-full bg-gray-200 rounded-full">
                            <div class="bg-lime-400 text-xs leading-none py-1 text-center text-white rounded-full"
                                style="width:60%">60%</div>
                        </div>

                        <div class="mb-4 mt-4">
                            <span class="text-sm font-semibold">Express Js</span>
                            <span class="text-sm font-semibold float-right">60%</span>
                        </div>
                        <div class="w-full bg-gray-200 rounded-full">
                            <div class="bg-lime-400 text-xs leading-none py-1 text-center text-white rounded-full"
                                style="width:60%">60%</div>
                        </div>

                        <div class="mb-4 mt-4">
                            <span class="text-sm font-semibold">Mongodb</span>
                            <span class="text-sm font-semibold float-right">60%</span>
                        </div>
                        <div class="w-full bg-gray-200 rounded-full">
                            <div class="bg-lime-400 text-xs leading-none py-1 text-center text-white rounded-full"
                                style="width:60%">60%</div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>
</section>