<section id="about">
    <div class="container p-5 mx-auto mt-48 mb-24 pt-24">
        <div class="text-center">
            <span class="font-bold lg:text-6xl md:text-6xl text-4xl border-b-4 border-black"
                data-aos="fade-down-left">ABOUT</span>
        </div>
        <div class="items-center lg:grid lg:grid-cols-3 md:grid-cols-2 gap-2  mt-10 block sm:block md:block"
            data-aos="fade-up">
            <div>
                <img src="assets/image/about@3x.webp" class="mr-3 w-64 sm:w-96 md:w-96" alt="">
            </div>
            <div class="col-span-2 sm:mt-10 about-desc">
                <p class="mt-2 mb-8 leading-8 text-gray-400">I am Nitin Singh, A frontend Developer
                    I have experience in Web Development having strong Angular skills. I am
                    also a Freelancer in Upwork
                    and others like it, describes the quality of work and value that you can expect from working with
                    me: it was an ongoing project assigned to him. He understood the architecture and
                    helped me through the
                    each left behind part. there were several modules, which were depreciated, so Nitin suggested and
                    implemented right
                    capacitor plugins and completed the last 10% of most complex and time consuming tasks with an ease.
                    I am definitely
                    looking forward to work with him again for improvement tasks and new projects. Wish you very all the
                    best Nitin."
                </p>
            </div>
        </div>
    </div>
</section>