<section id="contact">
    <div class="" style="clip-path: polygon(50% 80px,100% 0,100% 100%,0 100%,0 0);">
        <div class="container mx-auto mt-96 pt-24 mb-0">
            <div class="text-center pt-24">

                <span class="font-bold  text-pink-400 lg:text-6xl md:text-6xl text-4xl border-b-4 border-pink-400"
                    data-aos="fade-right" data-aos-duration="1000">CONTACT</span>

                <div data-aos="zoom-in" data-aos-duration="1000">
                    <div class="mt-16 text-black text-2xl font-semibold">Have a question? Want to Collaborate? Just want
                        to
                        chat?</div>
                    <div class="text-black text-2xl  font-semibold">Reach out to me on</div>
                </div>
                <div class="flex justify-center mt-8 md:justify-center">
                    <a [href]="item.url" target="_blank" *ngFor="let item of socialList;let i=index" data-aos="slide-up"
                        [attr.data-aos-duration]="500 + (i * 100)"
                        class="group cursor-pointer rounded-full  bg-pink-400 hover:bg-white red p-4 lg:mr-4 md:mr-6 lg:block mr-2 w-14 h-14 lg:w-16 lg:h-16">
                        <div class="">
                            <img [src]="item.icon" class="block w-8 group-hover:hidden invert" alt="icon search">
                            <img [src]="item.icon" class="hidden w-8 group-hover:block" [style]="item.style"
                                alt="icon search hover">
                        </div>
                    </a>

                </div>
                <div data-aos="slide-up" data-aos-duration="1100">
                    <div class="container leading-4 mx-auto mt-16 sm:mt-10  md:w-[1050px] p-3 sm:p-5 md:p-10">
                        <div class="col-span-12 lg:col-span-8 md:col-span-8 mt-2 sm:col-span-12">
                            <div
                                class="bg-zinc-100 p-6 sticky shadow-xl font-sansrounded-lg rounded-lg tracking-tighter border-2 border-dashed border-pink-400 pl-4 pt-4">
                                <div class="flex justify-between">
                                    <div class="text-2xl font-medium border-bottom ">
                                        <p class="text-primary">Contact Us</p>
                                    </div>
                                    <div>
                                        <p  class="sm:text-xl text-sm mt-2  text-green-500 font-bold font-serif">
                                           </p>
                                    </div>
                                </div>
                                <form [formGroup]="Form"  class=" mt-6 text-justify">
                                    <div class="mb-5">
                                        <label for="email" class="block mb-2 text-lg font-medium text-pink-400">Full
                                            name</label>
                                        <input type="text" id="fullName" formControlName="fullName"
                                            class="shadow-sm bg-gray-50 border border-pink-400 text-black text-sm rounded-lg block w-full p-3"
                                            placeholder="Full name" />
                                        <div *ngIf="Form.controls['fullName']?.invalid && Form.controls['fullName']?.touched"
                                            class="text-sky-500">
                                            <div>Name is required.</div>
                                        </div>
                                    </div>
                                    <div class="mb-5">
                                        <label for="email" class="block mb-2 text-lg font-medium text-pink-400">Email
                                        </label>
                                        <input type="text" id="email" formControlName="email"
                                            class="shadow-sm bg-gray-50 border border-pink-400 text-black text-sm rounded-lg block w-full p-3"
                                            placeholder="Nitin@gmail.com" />
                                        <div *ngIf="Form.controls['email']?.invalid && Form.controls['email']?.touched"
                                            class="text-sky-500">
                                            <div>Email is required.</div>
                                        </div>
                                    </div>
                                    <div class="mb-5">
                                        <label for="email" class="block mb-2 text-lg font-medium text-pink-400">Message
                                        </label>
                                        <textarea formControlName="message"
                                            class="shadow-sm bg-gray-50 border border-pink-400 text-black text-sm rounded-lg block w-full p-3"
                                            name="" id="" cols="30" rows="5"></textarea>
                                        <div *ngIf="Form.controls['message']?.invalid && Form.controls['message']?.touched"
                                            class="text-sky-500">
                                            <div>message is required.</div>
                                        </div>
                                    </div>
                                    <button type="submit"
                                        class="text-black bg-lime-400 rounded-lg text-sm px-5 py-2.5 text-center">Submit</button>
                    
                    
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>