<section id="achievement">
    <div class="wrapper container mx-auto mt-96 pt-24 items-center">
        <div class="text-center font-bold text-6xl scale-125" data-aos="fade-left" data-aos-duration="1100">
            <span class="font-lg text-pink-400 lg:text-6xl md:text-4xl text-3xl border-b-4 border-black">TECHNOLOGIES AND</span>
            <span class="font-lg text-pink-400 lg:text-6xl md:text-4xl text-3xl mt-6 border-b-4 border-black">TOOLS</span>
        </div>
        <div class="mt-24 mx-4">
            <div class="md:flex grid justify-center mb-8"> 
                <button class="mx-2 px-4 mb-2 py-3 rounded font-bold font-serif hover:bg-lime-400 hover:text-black"
                        [class.bg-lime-400]="selectedCategory === 'TECHNOLOGIES'" [class.text-black]="selectedCategory === 'TECHNOLOGIES'"
                        (click)="selectCategory('TECHNOLOGIES')">Frontend</button>
                <button class="mx-2 px-4 mb-2 py-3 rounded font-bold font-serif hover:text-black hover:bg-lime-400"
                        [class.bg-lime-400]="selectedCategory === 'LIBRARIES'" [class.text-black]="selectedCategory === 'LIBRARIES'"
                        (click)="selectCategory('LIBRARIES')">Libraries</button>
                <button class="mx-2 px-4 py-3 rounded font-bold font-serif hover:text-black hover:bg-lime-400"
                        [class.bg-lime-400]="selectedCategory === 'BACKEND'" [class.text-black]="selectedCategory === 'BACKEND'"
                        (click)="selectCategory('BACKEND')">Backend</button>
                
            </div>
        </div>
        <div>
            <div class="flex justify-evenly ">
                <ng-container *ngFor="let dev of developments">
                    <div *ngIf="dev.category === selectedCategory" class="max">
                        <div *ngFor="let item of dev.list" class="icon">
                            <img [src]="item.icon" [alt]="item.name"
                                class="lg:w-20 md:w-20 sm:w-20 w-16 p-2 mt-12 cursor-pointer mx-6 transition duration-500 transform hover:scale-125">

                            <div class="tooltip mt-6">{{item.name}}</div>

                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</section>
