<section id="portfolio">
    <div class="container mx-auto lg:px-10 my-8 pt-48">
        <div
            class="flex flex-wrap justify-between lg:flex-row md:flex-col-reverse sm:flex-col-reverse flex-col-reverse">
            <div class="md:justify-center sm:justify-center text-center lg:text-left mt-8">
                <div>
                    <span
                        class="bg-pink-400 rounded-tl-full rounded-r-full text-white px-4 py-2 sm:text-md md:text-lg lg:text-2xl font-medium">Hello!
                        I
                        am</span>
                </div>
                <div class="mt-4">
                    <span class="text-4xl sm:text-4xl md:text-4xl lg:text-7xl font-bold">NITIN
                        SINGH</span>
                </div>
                <div class="mt-2 wrapper">
                    <span
                        class=" lg:mr-40 typing-demo text-pink-400 font-semibold text-2xl sm:text-2xl md:text-2xl lg:text-3xl">Software Engineer</span>
                </div>
                <div class="lg:flex inline-flex  mt-8 ">
                    <a [href]="item.url" target="_blank" *ngFor="let item of socialList"
                        class="group cursor-pointer rounded-full  bg-pink-400 hover:bg-white red p-4 lg:mr-4 md:mr-6 lg:block mr-2 w-14 h-14 lg:w-16 lg:h-16">
                        <div class="">
                            <img [src]="item.icon" class="block w-8 group-hover:hidden invert" alt="icon search">
                            <img [src]="item.icon" class="hidden w-8 group-hover:block" [style]="item.style"
                                alt="icon search hover">
                        </div>
                    </a>
                </div>
            </div>
            <div class="justify-center flex md:justify-center sm:justify-center">
                <div class="border-8 rounded-full border-gray-200">
                    <div class="border-8 rounded-full border-gray-300">
                        <div class="border-8 rounded-full border-gray-400">
                            <div
                                class="lg:w-92 lg:h-92 md:w-96 md:h-96 sm:w-96 sm:h-96 w-64 h-64 rounded-full border-8 border-gray-500 overflow-hidden">
                                <img src="assets/image/nn.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>