<section id="blog">
    <div class="container mx-auto  pt-24">
        <div class="text-center">
            <span
                class="font-bold text-pink-400 border-b-4 border-black  text-6xl hover-underline-animation hover:border-0 mb-10"
                data-aos="fade-up">BLOGS</span>
        </div>
        <div class="grid mx-4 mt-5 md:grid-cols-2 sm:grid-cols-2 lg:grid-cols-4 gap-8 justify-center">
            <div class="card col-md-4" data-aos="slide-up" data-aos-duration="500">
                <img src="https://cdn.tuk.dev/assets/components/111220/Blg-6/blog(2).png"
                    class="focus:outline-none w-full">

                <div _ngcontent-sft-c6="" class="py-2 px-4 w-full flex justify-between bg-pink-400">
                    <p _ngcontent-sft-c6="" class="focus:outline-none text-sm text-white font-semibold tracking-wide">
                        Bruce Wayne</p>
                    <p _ngcontent-sft-c6="" class="focus:outline-none text-sm text-white font-semibold tracking-wide">
                        13TH Oct, 2020
                    </p>
                </div>
                <div _ngcontent-sft-c6=""
                    class="bg-white dark:bg-gray-800 px-3 lg:px-6 py-4 rounded-bl-3xl rounded-br-3xl">
                    <h1 _ngcontent-sft-c6=""
                        class="focus:outline-none text-lg text-gray-900 dark:text-white font-semibold tracking-wider">
                        Transactions</h1>
                    <p _ngcontent-sft-c6=""
                        class="focus:outline-none text-gray-700 dark:text-gray-200 text-sm lg:text-base lg:leading-8 pr-4 tracking-wide mt-2">
                        Find the latest events updates or create events, concerts, conferences, workshops... </p>
                </div>
            </div>
            <div class="card col-md-4" data-aos="slide-up" data-aos-duration="700">
                <img src="https://cdn.tuk.dev/assets/components/111220/Blg-6/blog(3).png"
                    class="focus:outline-none w-full">

                <div _ngcontent-sft-c6="" class="py-2 px-4 w-full flex justify-between bg-pink-400">
                    <p _ngcontent-sft-c6="" class="focus:outline-none text-sm text-white font-semibold tracking-wide">
                        Bruce Wayne</p>
                    <p _ngcontent-sft-c6="" class="focus:outline-none text-sm text-white font-semibold tracking-wide">
                        13TH Oct, 2020
                    </p>
                </div>
                <div _ngcontent-sft-c6=""
                    class="bg-white dark:bg-gray-800 px-3 lg:px-6 py-4 rounded-bl-3xl rounded-br-3xl">
                    <h1 _ngcontent-sft-c6=""
                        class="focus:outline-none text-lg text-gray-900 dark:text-white font-semibold tracking-wider">
                        Transactions</h1>
                    <p _ngcontent-sft-c6=""
                        class="focus:outline-none text-gray-700 dark:text-gray-200 text-sm lg:text-base lg:leading-8 pr-4 tracking-wide mt-2">
                        Find the latest events updates or create events, concerts, conferences, workshops... </p>
                </div>
            </div>
            <div class="card col-md-4" data-aos="slide-up" data-aos-duration="900">
                <img src="	https://cdn.tuk.dev/assets/components/111220/Blg-6/blog(4).png"
                    class="focus:outline-none w-full">

                <div _ngcontent-sft-c6="" class="py-2 px-4 w-full flex justify-between bg-pink-400">
                    <p _ngcontent-sft-c6="" class="focus:outline-none text-sm text-white font-semibold tracking-wide">
                        Bruce Wayne</p>
                    <p _ngcontent-sft-c6="" class="focus:outline-none text-sm text-white font-semibold tracking-wide">
                        13TH Oct, 2020
                    </p>
                </div>
                <div _ngcontent-sft-c6=""
                    class="bg-white dark:bg-gray-800 px-3 lg:px-6 py-4 rounded-bl-3xl rounded-br-3xl">
                    <h1 _ngcontent-sft-c6=""
                        class="focus:outline-none text-lg text-gray-900 dark:text-white font-semibold tracking-wider">
                        Transactions</h1>
                    <p _ngcontent-sft-c6=""
                        class="focus:outline-none text-gray-700 dark:text-gray-200 text-sm lg:text-base lg:leading-8 pr-4 tracking-wide mt-2">
                        Find the latest events updates or create events, concerts, conferences, workshops... </p>
                </div>
            </div>
            <div class="card col-md-4" data-aos="slide-up" data-aos-duration="1000">
                <img src="https://cdn.tuk.dev/assets/components/111220/Blg-6/blog(5).png"
                    class="focus:outline-none w-full">

                <div _ngcontent-sft-c6="" class="py-2 px-4 w-full flex justify-between bg-pink-400">
                    <p _ngcontent-sft-c6="" class="focus:outline-none text-sm text-white font-semibold tracking-wide">
                        Bruce Wayne</p>
                    <p _ngcontent-sft-c6="" class="focus:outline-none text-sm text-white font-semibold tracking-wide">
                        13TH Oct, 2020
                    </p>
                </div>
                <div _ngcontent-sft-c6=""
                    class="bg-white dark:bg-gray-800 px-3 lg:px-6 py-4 rounded-bl-3xl rounded-br-3xl">
                    <h1 _ngcontent-sft-c6=""
                        class="focus:outline-none text-lg text-gray-900 dark:text-white font-semibold tracking-wider">
                        Transactions</h1>
                    <p _ngcontent-sft-c6=""
                        class="focus:outline-none text-gray-700 dark:text-gray-200 text-sm lg:text-base lg:leading-8 pr-4 tracking-wide mt-2">
                        Find the latest events updates or create events, concerts, conferences, workshops... </p>
                </div>
            </div>

        </div>
        <div class="text-center">
            <button class="mt-8 bg-lime-400 hover:bg-lime-400 font-bold text-white text-xl p-2 px-4 rounded-full"
                data-aos="zoom-in" data-aos-duration="1000">View
                All</button>
        </div>
    </div>
</section>